.choose-container {
    text-align: center;
    margin: 1% 10%;
}

.choose-heading {
    font-family: 'DM Serif Display';
    font-size: 48px;
    margin-bottom: 4%;
}

.choose-paragraph {
  padding: 1% 17%;
  line-height: 2;
}









