.choose-container {
    text-align: center;
    margin: 1% 10%;
}

.choose-heading {
    font-family: 'DM Serif Display';
    font-size: 48px;
    margin-bottom: 4%;
}

.choose-paragraph {
  padding: 1% 17%;
  line-height: 2;
}


@media only screen and (max-width: 1024px) {
  .choose-container {
    margin: 0 3%;
}

.choose-paragraph {
  padding: 1% 6%;
  line-height: 2;
}

.choose-heading {
  font-size: 47px;
  margin-bottom: 3%;
}
}








