.hero-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    width: 100%;
    height: 90vh;
    background-image: url('../images/gathering.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.bread-wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.bread-heading {
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.welcome-heading {
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;  
}




@media only screen and (max-width: 1024px) {

    .bread-heading {
        letter-spacing: 8px;
    }
    
    .welcome-heading {
        letter-spacing: 8px;
    }
  }
  

