.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem 0 8%;
	color: #fff;
    height: 70px;
    position: relative;
    z-index: 999;
	background-color: #000;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.header > h3 img {
    height: 50px;
}

nav a {
	margin: 0 1rem;
	color: #fff;
	text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

nav a:hover {
	color: #F23B43;
}

.header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
    /* position: relative;
    z-index: 999; */
}

.header div,
nav {
	display: flex;
	align-items: center;
    margin-left: 50%;
}

@media only screen and (max-width: 1030px) {
	.header .nav-btn {
		visibility: visible;
		opacity: 1;
        color: #fff;
	}

	.header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		background-color: #000;
		transition: 1s;
        margin-left: 0;
	}

	.header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 4rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}



