.shop-container {
    background-color: #F9F9F9;
    padding: 5%;
    }
    
    .shop-wrapper {
      display: flex;
      /* align-items: center; */
      justify-content: space-between;
      padding: 3% 0;
    }
    
    .shop-left {
        flex: 1;
        margin-left: 5%;
        /* background-color: red; */
    }
    
    .shop-right {
      flex: 5;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 9%;
      padding-right: 9%;
    }

    .filter-text {
        font-size: 20px;
    }

    .select {
        margin-top: 10%;
        width: 100%;
        height: 30px;
        font-size: 20px;
    }

    .select > option {
        font-size: 20px;
        padding: 5% 0;
 }


 @media screen and (max-width: 1030px) {
    .filter-text {
        font-size: 18px;
    }

    .shop-container {
        padding: 3%;
        }
        
        .shop-wrapper {
          padding: 3% 0;
        }
        
        .shop-left {
            flex: 1;
            margin-left: 3%;
        }

        .select {
            font-size: 17px;
        }
    
        .select > option {
            font-size: 16px;
            padding: 5% 0;
     }
    
 }
    
  
  