* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.cart-button {
 display: none;
}



@media screen and (max-width: 1030px) {
    .cart-button {
        display: block;
        margin-top: 5%;
        margin-left: 4%;
        width: 90%;
    }
    
    .cart-button > button {
        height: 50px;
    }
    
}